/* Fonts */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 100 1000;
}

:root {
  /* Font */
  --font-inter: "Inter", sans-serif;

  /* Typography */
  --line-height: 150%;
  --text-preset-1: 700 24px / var(--line-height) var(--font-inter);
  --text-preset-2: 400 14px / var(--line-height) var(--font-inter);
  --text-preset-2-bold: 700 14px / var(--line-height) var(--font-inter);

  /* Colors */
  --color-green: hsl(75, 94%, 57%);
  --color-gray-700: hsl(0, 0%, 20%);
  --color-gray-800: hsl(0, 0%, 12%);
  --color-gray-900: hsl(0, 0%, 8%);
  --color-white: hsl(0, 0%, 100%);

  /* Spacing */
  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-300: 24px;
  --space-500: 40px;
}

/* General */
body {
  font: var(--text-preset-2);
  background-color: var(--color-gray-900);
  color: var(--color-white);
  letter-spacing: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4vh;
  place-items: center;
}

/* Card */
.card {
  background-color: var(--color-gray-800);
  margin: var(--space-300);
  padding: var(--space-300);
  border-radius: 12px;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  text-align: center;
}

.card__avatar {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin: auto;
}

.card__person-name {
  font: var(--text-preset-1);
  margin-bottom: var(--space-50);
}

.card__person-location {
  color: var(--color-green);
  font: var(--text-preset-2-bold);
}

.card__person-info {
  font: var(--text-preset-2);
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
}

.card__list-item {
  background-color: var(--color-gray-700);
  border-radius: 8px;
}

.card__list-link {
  font: var(--text-preset-2-bold);
  color: var(--color-white);
  display: block;
  width: 100%;
  padding: var(--space-150);
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.6s ease-out;
}

.card__list-link:hover {
  background-color: var(--color-green);
  color: var(--color-gray-700);
}

/* Footer Attribution */
.attribution {
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.3s ease;
  color: var(--color-green);
}

.attribution a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .card {
    margin: var(--space-500);
    padding: var(--space-500);
  }
}
