/* Fonts */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 100 1000;
}

:root {
  /* Font */
  --font-inter: "Inter", sans-serif;
}

/* General */
body {
  font-family: var(--font-inter);
}

/* Footer Attribution */
.attribution {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.attribution a:hover {
  opacity: 0.8;
  text-decoration: underline;
}
